page-login {
    .scroll-bar-indicator{
        display: none;
    }
  
      ion-col {
          position: relative;
      
          [button-clear] {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      
        img {
          max-width: 150px;
          max-height: 150px;
          margin: 35px auto 20px;
        }
      
        .text-input,
        ion-label {
          color: theme-colors('textColors', 'primary') !important;
        }
      
        .item-inner {
          border-bottom-color: theme-colors('mainColors', 'secondary') !important;
          box-shadow: none !important;
        }
      
        [default-button] {
          margin-top: 20px;
        }
      
        .social {
          margin: 20px auto 0;
          overflow: hidden;
      
          button {
            margin: 1%;
            width: 48.5%;
            display: block;
            float: left;
          }
      
          > button:nth-child(2n) {
            margin-right: 0;
          }
        }
  }